<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>LOGIN</h2>
    </div>
    <form action="" th:action method="post">
        <div>
            <label for="memberId"></label>
            <input type="text" id="memberId" class="form-control" placeholder="아이디">
        </div>
        <div>
            <label for="password"></label>
            <input type="password" id="password" class="form-control" placeholder="패스워드">
        </div>
        <div class="text-center">
            <button class="btn btn-secondary btn-lg"
                    onclick="location.href='main.html'"
                    type="button">로그인
            </button>
        </div>
    </form>
</div>
</body>
</html>
